* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	background-color: #fddb27ff;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas:
		"header"
		"content"
		"content"
		"content"
		"content";
	font-family: "Bebas Neue", cursive;
}
body {
	min-height: 98vh;
}
/*
***************************************************
Header -> Start
***************************************************
*/

header {
	padding-top: 1em;
	margin-bottom: 2em;
	grid-area: header;
	animation: enter 0.9s;
}
.top {
	width: 70%;
	margin: 0 auto;
	transform: skew(-14deg);
	background-color: #fff;
}
.top h2 {
	padding: 1rem 1em;
	display: flexbox;
	text-align: center;
	color: #fddb27ff;
	transform: skew(14deg);
	font-family: "Josefin Sans", sans-serif;
}

/*
***************************************************
Header -> End
***************************************************
*/

/*
***************************************************
Content -> Start
***************************************************
*/
.content {
	width: 100%;
	grid-area: content;
	display: grid;
	text-align: center;
	grid-template-columns: 1;
	grid-template-rows: 1fr 10px 1fr;
	grid-row-gap: 1em;
	grid-template-areas: "computer" "decision" "player";
}
.player__box {
	width: 70%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	overflow: hidden;
	display: block;
}
.player__box img {
	width: 40%;
	animation: enter 0.5s;
}
.comp {
	grid-area: computer;
}
.player {
	grid-area: player;
}
.score {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #fff;
	font-size: 1.5em;
	height: 20%;
	background-color: #00b1d2ff;
}
.score p {
	animation: roll 0.2s ease-in-out;
}
.move-chosen {
	display: flex;
	align-items: center;
	justify-content: center;
}
.comp img {
	width: 60%;
}
.choose__move {
	position: absolute;
	bottom: 0px;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
.choose__move img {
	width: 23%;
	transition: transform 0.3s;
}
.choose__move img:hover {
	transform: scale(1.2);
	transform-origin: center;
}
.game__decision {
	grid-area: decision;
	/* bottom: 10px; */
	display: flex;
	justify-content: center;
	width: 100%;
	letter-spacing: 2px;
}
/*
***************************************************
Content -> End
***************************************************
*/

/*
***************************************************
Miscellaneous -> Start
***************************************************
*/
@keyframes enter {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes roll {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
/*
***************************************************
Miscellaneous -> End
***************************************************
*/
