* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	background-color: #f1c40f;
	height: 100%;
}

/*
***************************************************
Header -> Start
***************************************************
*/

header {
	padding-top: 1em;
	margin-bottom: 2em;
}
.top {
	width: 70%;
	margin: 0 auto;
	transform: skew(-14deg);
	background-color: #fff;
}
.top h2 {
	padding: 1rem 1em;
	display: flexbox;
	text-align: center;
	color: #f1c40f;
	transform: skew(14deg);
}

img {
	width: 10%;
}

/*
***************************************************
Header -> End
***************************************************
*/

/*
***************************************************
Content -> Start
***************************************************
*/
.content {
	width: 100%;
	height: auto;
	display: flex;
}

/*
***************************************************
Content -> Start
***************************************************
*/

/*
***************************************************
Footer -> Start
***************************************************
*/

/*
***************************************************
Footer -> Start
***************************************************
*/
