* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	background-color: #fddb27ff;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas:
		"header"
		"content"
		"content"
		"content";
}
body {
	min-height: 92vh;
}
/*
***************************************************
Header -> Start
***************************************************
*/

header {
	padding-top: 1em;
	margin-bottom: 2em;
	grid-area: header;
}
.top {
	width: 70%;
	margin: 0 auto;
	transform: skew(-14deg);
	background-color: #fff;
}
.top h2 {
	padding: 1rem 1em;
	display: flexbox;
	text-align: center;
	color: #fddb27ff;
	transform: skew(14deg);
}

/*
***************************************************
Header -> End
***************************************************
*/

/*
***************************************************
Content -> Start
***************************************************
*/
.content {
	width: 100%;
	grid-area: content;
	display: grid;
	text-align: center;
	grid-template-rows: repeat(2, 1fr);
	grid-row-gap: 3em;
}
.player__box {
	width: 70%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.player__box img {
	width: 40%;
}
.score {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #fff;
	font-size: 2em;
	height: 20%;
	background-color: #00b1d2ff;
}
.move-chosen {
	display: flex;
	align-items: center;
	justify-content: center;
}
.comp img {
	width: 60%;
}
.choose__move {
	position: absolute;
	bottom: 0px;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
.choose__move img {
	width: 27%;
}
/*
***************************************************
Content -> End
***************************************************
*/

/*
***************************************************
Footer -> Start
***************************************************
*/
footer {
	grid-area: footer;
	position: absolute;
	bottom: 10px;
	display: flex;
	justify-content: center;
	width: 100%;
}
/*
***************************************************
Footer -> End
***************************************************
*/
